#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.login-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.login-button {
  padding: 0.5rem 1rem;
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.login-button:hover {
  background-color: #535bf2;
}

.login-page {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-page button {
  width: 100%;
  padding: 0.75rem;
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-page button:hover {
  background-color: #535bf2;
}

.login-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2;
}

.app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.website-logo {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 160px;
  z-index: 1;
  background-color: white;
}

.logo-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0665b3b7; /* Change this color to your preference */
  padding: 6rem 0;
  text-align: center;
  
}

.find-restaurant-container {
  position: absolute;
  right: 9rem;
  top: 50%;
  transform: translateY(-50%);
}

.find-restaurant-button {
  padding: 0.75rem 1.5rem;
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s;
}

.find-restaurant-button:hover {
  background-color: #535bf2;
}

.find-food-container {
  position: absolute;
  left: 9rem;
  top: 50%;
  transform: translateY(-50%);
}

.find-food-button {
  padding: 0.75rem 1.5rem;
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s;
}

.find-food-button:hover {
  background-color: #535bf2;
}
